if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

typeset -U path PATH
path=("$HOME/.local/bin" "$HOME/.safe-chain/shims" "$HOME/.npm-global/bin" $path)

export EDITOR=nvim
export VISUAL=nvim
export HISTFILE="${ZDOTDIR:-$HOME}/.zsh_history"
export HISTSIZE=10000
export SAVEHIST=10000
setopt append_history hist_ignore_dups share_history

export ZSH="$HOME/.oh-my-zsh"
ZSH_THEME='powerlevel10k/powerlevel10k'
zstyle ':omz:update' mode disabled
plugins=(git zsh-autosuggestions zsh-interactive-cd)
if [[ -r "$ZSH/oh-my-zsh.sh" ]]; then
  source "$ZSH/oh-my-zsh.sh"
fi

[[ -r "$HOME/.p10k.zsh" ]] && source "$HOME/.p10k.zsh"

{{ if eq .chezmoi.os "darwin" -}}
export PNPM_HOME="$HOME/Library/pnpm"
{{- else -}}
export PNPM_HOME="$HOME/.local/share/pnpm"
{{- end }}
path=("$PNPM_HOME" $path)

[[ -r "$HOME/.config/zsh/aliases.zsh" ]] && source "$HOME/.config/zsh/aliases.zsh"
[[ -r "$HOME/.config/zsh/integrations.zsh" ]] && source "$HOME/.config/zsh/integrations.zsh"
[[ -r "$HOME/.config/zsh/kompas.zsh" ]] && source "$HOME/.config/zsh/kompas.zsh"

if [[ -r "$ZSH/custom/plugins/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh" ]]; then
  source "$ZSH/custom/plugins/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh"
fi
